@import "./App.scss";

.cards {
  background-color: #ebecf0 !important;
  max-width: 290px;
  min-height: 180px;
  position: relative;
  z-index: 50;

  .cards__header {
    padding: 0.1em 0.5em 0.7em 0.5em;
    .cards__title {
      background-color: #ebecf0;
      border: none;
      font-weight: bold;
      flex-grow: 1;
      font-size: 0.98em;
      &:focus {
        background-color: white;
      }
    }
  }

  .cards__element {
    position: relative;
    margin-bottom: 7px;
    z-index: 5;

    .cards__downElements {
      min-height: 30px;
      align-items: center;

      .uncompleted {
        background-color: #bdbdbd !important;
      }
      .completed {
        background-color: $greenValidation !important;
      }
    }

    .withElements {
      margin-top: 5px;
    }

    .cards__labels {
      display: flex;
      flex-wrap: wrap;

      .cards__label {
        width: 35px;
        margin-bottom: 5px;
        margin-right: 3px;
        height: 8px;
        border-radius: 10px;
      }
    }

    .cards__pen {
      display: none;
    }
    &:hover {
      .cards__pen {
        display: block;

        &:hover {
          background-color: #c9cacb;
        }
      }
    }
  }
}

.cards__textInput {
  margin-bottom: 20px !important;
}
