.cards {
  background-color: #ebecf0;
  width: 300px;
  min-height: 180px;
  padding: 1em;
  border-radius: 10px;
  position: relative;
  z-index: 50;

  .cards__header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .cards__title {
      background-color: #ebecf0;
      border: none;
      font-weight: bold;
      width: 85%;
      font-size: 1.1em;
      &:focus {
        background-color: white;
      }
    }
  }

  .cards__wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100% inherit;

    .cards__element {

      position: relative;
      cursor: pointer;
      background-color: white;
      padding: 1em;
      border-radius: 10px;
      font-size: 0.9em;
      margin-bottom: 20px;
      box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      z-index: 5;

      .cards__downElements {
        margin-top: 15px;
        display: flex;
        min-height: 30px;
     
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .uncompleted {
          background-color: #f44336 !important;
        }
        .completed {
          background-color: #4caf50 !important;
        }
      }

      .cards__labels {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin-bottom: 10px;

        .cards__label {
          width: 40px;
          margin-bottom: 5px;
          margin-right: 3px;
          height: 8px;
          border-radius: 10px;
        }
      }

      .cards__pen {
        display: none;

      }
      &:hover {
        .cards__pen {
  
          display: block;

          &:hover {
            background-color: #c9cacb;
          }
        }
      }
    }
  }
  .cards__addCard {
    margin-top: 20px;
    padding: 0.5em;

    display: flex;
    align-items: center;
    opacity: 0.5;
    border-radius: 10px;

    p {
      margin-left: 10px;
    }
    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }

  .cards__textInput {
    width: 90%;
    padding: 1em;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    resize: none;
    margin-bottom: 20px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .cards__cardValidation {
    display: flex;
    align-items: center;

    .cards_save {


      background-color: #60bd4e !important;
      color: white !important;
      
      margin-right: 15px;
    }
    .cards__cross {
      color: grey;

    }
  }
}
