.panel {
  min-width: 35vw;

  .panel__form {
    padding: 2em;
    background-color: #ebecf0;
  }

  .panel__icon {
    margin-right: 20px;
  }

  .panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;

    .panel__headerLeft {
      display: flex;
      align-items: center;
      flex-grow: 0.97;
    }
  }

  .panel__descriptionHeader {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }

  .panel__textDescription {
    margin-bottom: 45px !important;
  }

  .panel__toDo {
    .panel__checklistAddElement {
      margin-top: 20px;

      .panel__checklistFill {
        margin-bottom: 20px;
      }
    }
  }
}
